/* General Styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background: #1F1F1F;
    color: #FFFFFF;
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #333;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

header p {
    margin: 10px 0 20px;
    font-size: 1.1em;
    color: #BDBDBD;
}

/* Language Selector */
.language-selector button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-selector button:hover {
    background-color: #555;
}

/* Sections */
section {
    padding: 60px 0;
    border-bottom: 1px solid #333;
}

#about {
    text-align: center;
}

#about h2,
#portfolio h2 {
    font-size: 2.2em;
    margin-bottom: 40px;
    text-align: center;
}

/* Portfolio Gallery */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.amostra {
    background: #1F1F1F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.amostra:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.amostra img {
    width: 100%;
    height: auto;
    display: block;
}

.amostra h3 {
    margin: 20px 20px 10px;
    font-size: 1.4em;
    color: #FFFFFF;
}

.amostra p {
    font-size: 1em;
    padding: 0 20px;
    color: #BDBDBD;
}

.btn-download {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #0056b3;
}

/* Tutorial Link */
.tutorial {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.1em;
}

.tutorial:hover {
    text-decoration: underline;
}


/* Donation Buttons */
.DonatePaypal,
.LivePix {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    transition: transform 0.3s;
}

.DonatePaypal {
    right: 20px;
}

.LivePix {
    right: 130px;
}

.DonatePaypal:hover,
.LivePix:hover {
    transform: scale(1.1);
}

.DonatePaypal img,
.LivePix img {
    width: 95px;
    height: auto;
}


/* Footer */
footer {
    background: #1F1F1F;
    color: #BDBDBD;
    text-align: center;
    padding: 20px 0;
}